body {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
	color: #222;
	font-size: 16px;
	line-height: 1.2;
	text-align: justify;
	padding: 15px;
}

h1 {
	color: black;
	font-size: 1.5em;
}

h2, h3 {
	color: #111;
	text-align: center;
}

a {
	text-decoration: none;
	color: #333;
}

/* TOP SECTION */
.contact h1 {
	text-align: center;
	margin: 0;
	margin-top: 100px;
	font-size: 36px;
}

.contact ul {
	list-style-type: none;
  list-style-position:inside;
	margin:0;
	margin-top: 25px;
	padding: 0;
	font-size: 24px;
	text-align: center;
}

.contact ul li {
	display: inline;
	margin: 25px;
	color: #222;
	border: 2px solid white;
	padding-left: 5px
}

.contact ul .contact-link-email {
	padding-right: 5px;
}

.contact ul li:hover {
	border: 2px solid #111;
	padding-left: 5px;
}

.contact ul li i {
	color: black;
}

.bio {
	margin-top: 150px;
}

.bio h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 0;
}


/* NAV BAR */

#nav-bar {
	position: fixed;
	max-width: 100%;
	width: 100%;
	left: 0;
	top: 0px; 
	height: 40px;
	background: rgba(255, 255, 255, 0.90);
	color: #222;
	z-index: 9999;
	display: none;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	border-bottom: 1px solid #222;
}

.nav-bar h1 {
	margin: 0;
}

#nav-bar i {
	color: black;
}

#nav-bar a {
	color: #222;
	font-size: 1.5em;
}

.nav-bar ul {
	list-style-type: none;
  list-style-position:inside;
	padding:0;
	margin: 0;
}

.nav-bar li {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	border: 2px solid white;
	padding: 6px 0 2px 4px;
}

.nav-bar .contact-link-email {
	padding-right: 3px;
}

.nav-bar li:hover {
	border: 2px solid #111;
}

.contact-nav {
	margin: 5px 0 0 0;
	text-align: center;
	flex: 1;
}

.name-nav {
	margin: 5px 0 0 0;
	text-align: center;
	flex: 1;
}


/* PROJECTS */

hr {
	width: 40%;
	color: #888
}

.past-projects {
	border-top: 1px solid #666;
	margin: 0;
	padding: 0;
	margin-top: 50px;
	margin-bottom: 50px;
}

.past-projects h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.demo-images {
	text-align: center;
	margin: 25px;
	align-items: center;
}

.project-image {
	width: 75%;
	align-self: center;
}

.technologies-container {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: auto;
}

.technology-icon {
	flex: 1;
	padding: 0;
	border: 0;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
}

.technology-icon img {
	height: 30px;
}

.technology-icon .image-text {
	margin: 0;
	text-align: center;
	margin-bottom: 10px;
}



/* WORK EXPERIENCE */

#experience {
	margin-top: 25px;
	border-top: 1px solid #666;
	margin-bottom: 50px;
}

.experience h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 0;
}

.jobs {
	margin-top: 50px;
}

.jobs ul {
	list-style-type: square;
	text-align: left;
}


/* EDUCATION */

#education {
	margin-top: 25px;
	border-top: 1px solid #666
}

.education h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 0;
}

.thinkful {
	margin-top: 50px;
}

.gwu {
	margin-top: 0;
}

.thinkful h4, .thinkful h5, .gwu h4, .gwu h5 {
	margin: 5px;
	text-align: center;
}

.education hr {
	width: 20%;
	color: #888;
	margin-top: 15px;
	margin-bottom: 0;
}

/**************** MOBILE/TABLET ****************/
@media (max-width: 767px) {

	body {
		font-size: 16px;;
		text-align: left;
	}

	/* TOP SECTION */
	.contact h1 {
		margin-top: 40px;
	}

	.contact ul {
		font-size: 20px;
	}

	.contact ul li {
		margin: 15px;
	}

	.bio {
		margin-top: 75px;
	}

	.bio h2 {
		margin-top: 25px;
	}


	/* NAV BAR */

	#nav-bar {
		position: fixed;
		max-width: 1068px;
		width: 100%;
		top: 0px; 
		height: 40px; 
		background: rgba(255, 255, 255, 0.90);
		color: #222;
		z-index: 9999;
		display: none;
		justify-content: space-around;
		align-items: center;
		margin: auto;
		border-bottom: 1px solid #222;
	}

	#nav-bar a {
		color: #222;
		font-size: 1.1em;
	}

	.nav-bar h1 {
		font-size: 1.1em;
		margin: 0;
		flex: 1;
	}

	.nav-bar ul {
		list-style-type: none;
		list-style-position:inside;
		margin: 0;
		padding:0;
		flex: 3;
	}

	.nav-bar li {
		display: inline;
		padding: 0 1vw 0 1vw;
	}

	.contact-nav {
		margin: 5px 0 0 0;
		text-align: center;
		flex: 1;
	}

	.name-nav {
		margin: 5px 0 0 0;
		text-align: center;
		flex: 1;
	}

	/* PROJECTS */

	.past-projects {

		margin-top: 25px;
		margin-bottom: 25px;
	}

	.past-projects h2 {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.demo-images {
		margin: 10px;
	}

	.project-image {
		width: 75%;
	}

	.technologies-container {
		width: 60%;
	}

	.technology-icon img {
		height: 30px;
		margin-bottom: 5px;
	}

	.technology-icon .image-text {
		display: none;
	}



	/* WORK EXPERIENCE */

	#experience {
		margin-top: 25px;
		border-top: 1px solid #666;
		margin-bottom: 50px;
	}

	.experience h2 {
		text-align: center;
		margin-top: 50px;
		margin-bottom: 0;
	}

	.jobs {
		margin-top: 50px;
	}

	.jobs ul {
		list-style-type: square;
		text-align: left;
	}


	/* EDUCATION */

	#education {
		margin-top: 25px;
		border-top: 1px solid #666
	}

	.education h2 {
		text-align: center;
		margin-top: 50px;
		margin-bottom: 0;
	}

	.thinkful {
		margin-top: 50px;
	}

	.gwu {
		margin-top: 0;
	}

	.thinkful h4, .thinkful h5, .gwu h4, .gwu h5 {
		margin: 5px;
		text-align: center;
	}

	.education hr {
		width: 20%;
		color: #888;
		margin-top: 15px;
		margin-bottom: 0;
	}

}