body {
	max-width: 640px;
	min-height: 200vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
	color: #222;
	font-size: 1em;
	line-height: 1.2;
	padding-bottom: 10px;
	text-align: justify;
}

.bottom-line {
	position: fixed;
	height: 5px;
	max-width: 100%;
	width: 100%;
	left: 0;
	bottom: 0px; 
	background: #222;
	z-index: 9999;
	justify-content: space-around;
	align-items: center;
	margin: auto;
}

h1 {
	color: black;
	font-size: 1.5em;
}

h2, h3 {
	color: #111;
}

a {
	text-decoration: none;
	color: #333;
}

@media (max-width: 767) {
[class*="col-"] {
	width: 100%;
	display: flex;
}
}
/**************** MOBILE/TABLET ****************/
@media (max-width: 767px) {

	/* TOP SECTION */
header.flex-halves {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: auto;
	padding: 1vh 0 2vh 0;
}

.bio {
	padding: 1vh 4vw 2vh 4vw;
}

.bio h4 {
	display: none;
}

.contact {
	padding: 0 10vw 0 10vw;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.contact h1 {
	width: 100%;
	margin-top: 0;
}

.contact .headshot-container {
	width: 50%;
}

.contact img {
	width: 100%;
}

.contact-links {
	width: 50%;
}

.contact ul {
	list-style-type: none;
	list-style-position:inside;
	margin:0;
	font-size: 1.3em;
	line-height: 2em;
	padding: 0;
}


/* NAV BAR */

#nav-bar {
	position: fixed;
	max-width: 1068px;
	width: 100%;
	top: 0px; 
	height: 40px; 
	background: rgba(255, 255, 255, 0.90);
	color: #222;
	z-index: 9999;
	display: none;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	border-bottom: 1px solid #222;
}

#nav-bar a {
	color: #222;
	font-size: 1.1em;
}

.nav-bar h1 {
	font-size: 1.1em;
	margin: 0;
	flex: 1;
}

.nav-bar ul {
	list-style-type: none;
	list-style-position:inside;
	margin: 0;
	padding:0;
	flex: 3;
}

.nav-bar li {
	display: inline;
	padding: 0 1vw 0 1vw;
}

.contact-nav {
	margin: 5px 0 0 0;
	text-align: center;
	flex: 1;
}

.name-nav {
	margin: 5px 0 0 0;
	text-align: center;
	flex: 1;
}


/* PROJECTS */

#past-projects {
	border-top: 1px solid #666;
	padding: 3vh 4vw 1vh 4vw;
}

.past-projects-header {
	text-align: center;
	margin-bottom: 0;
}

section.flex-halves {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.project {
	width: 100%;
	margin-bottom: 3vh;
}

.project h3 {
	text-align: center;
}

.demo-images {
	margin: 0 auto;
	text-align: center
}

.project-image {
	width: 75%;
}

.technologies-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 5px 20px;
}

.technology-icon {
	width: 75px;
}

.technology-icon img {
	display: block;
	margin: 0 auto;
	height: 40px;
}

.technology-icon p {
	margin: 0;
	text-align: center;
}

.project-links ul {
	list-style-type: none;
  list-style-position:inside;
	padding:0;
	text-align: center;
}

.project-links li {
	display: inline;
	padding: 0 2vw 0 2vw;
}

.cocktail-menu-text {
	color: #607073;
}


/* WORK EXPERIENCE */

#experience {
	width: 100%;
	margin: auto;
	padding-top: 3vh;
	border-top: 1px solid #666;
}

.experience h2 {
	text-align: center;
	margin-bottom: 0;
}

.job h3 {
	text-align: center;
}

.tasks {
	padding: 0 4vw 1vh 4vw;
}

.job ul {
	padding-left: 20px;
}

}


/**************** DESKTOP ****************/
@media (min-width: 768px) {

/* TOP SECTION */
.contact h1 {
	text-align: center;
	margin: 0;
	margin-top: 100px;
	font-size: 36px;
}

.contact ul {
	list-style-type: none;
  list-style-position:inside;
	margin:0;
	margin-top: 25px;
	padding: 0;
	font-size: 24px;
	text-align: center;
}

.contact ul li {
	display: inline;
	margin: 25px;
	color: #222
}

.contact ul li i {
	color: black;
}

.bio {
	margin-top: 150px;
}

.about {
	display: none;
}

.bio h2 {
	text-align: center;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	margin-top: 50px;
}
	
 .bio .bounce {
	bottom: 30px;
	left: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	animation: bounce 4s infinite;
	-webkit-animation: bounce 4s infinite;
	-moz-animation: bounce 4s infinite;
	-o-animation: bounce 4s infinite;
	cursor: pointer;
 }

 .bio .bounce:hover {
	text-shadow: 0 0 1px #666;
 }
	
 @-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
	40% {-webkit-transform: translateY(-10px);}
	60% {-webkit-transform: translateY(-10px);}
 }
	
 @-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-10px);}
	60% {-moz-transform: translateY(-10px);}
 }
	
 @-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-10px);}
	60% {-o-transform: translateY(-10px);}
 }
 @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-10px);}
 }

/* NAV BAR */

#nav-bar {
	position: fixed;
	max-width: 100%;
	width: 100%;
	left: 0;
	top: 0px; 
	height: 40px;
	background: rgba(255, 255, 255, 0.90);
	color: #222;
	z-index: 9999;
	display: none;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	border-bottom: 1px solid #222;
}

.nav-bar h1 {
	margin: 0;
}

#nav-bar i {
	color: black;
}

#nav-bar a {
	color: #222;
	font-size: 1.5em;
}

.nav-bar ul {
	list-style-type: none;
  list-style-position:inside;
	padding:0;
	margin: 0;
}

.nav-bar li {
	display: inline;
	padding: 0 1vw 0 1vw;
}

.contact-nav {
	margin: 5px 0 0 0;
	text-align: center;
	flex: 1;
}

.name-nav {
	margin: 5px 0 0 0;
	text-align: center;
	flex: 1;
}


/* PROJECTS */

.past-projects {
	border-top: 1px solid #666;
	margin: 0;
	padding: 0;
	margin-top: 50px;
}

.past-projects h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

.demo-and-tech-container {
	display: flex;
}

.demo-images {
	text-align: center;
}

.project-image {
	width: 100%;
}

.technologies-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
	max-height: 280px;
}

.technology-icon {
	flex: 1;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}

.technology-icon img {
	height: 30px;
}

.technology-icon .image-text {
	margin: 0;
	text-align: center;
	margin-bottom: 10px;
}

.cocktails:hover {
	text-shadow: 0 0 20px rgb(205, 237, 255);
}


/* WORK EXPERIENCE */

#experience {
	margin-top: 25px;
	border-top: 1px solid #666;
}

.experience h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
	cursor: pointer;
}

.jobs {
	display: none;
}

.jobs ul {
	list-style-type: square;
}

.experience .bounce {
	bottom: 30px;
	left: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	animation: bounce 4s infinite;
	-webkit-animation: bounce 4s infinite;
	-moz-animation: bounce 4s infinite;
	-o-animation: bounce 4s infinite;
	cursor: pointer;
 }

 .experience .bounce:hover {
	text-shadow: 0 0 1px #666;
 }
	
 @-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
	40% {-webkit-transform: translateY(-10px);}
	60% {-webkit-transform: translateY(-10px);}
 }
	
 @-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-10px);}
	60% {-moz-transform: translateY(-10px);}
 }
	
 @-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-10px);}
	60% {-o-transform: translateY(-10px);}
 }
 @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-10px);}
 }

}